.hidden {
    display: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
body img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.top-section{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}

#login-form input {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    color: white;
}
#login-form input::placeholder{
    color: white;
}
.login-form__btn{
    cursor: pointer;
}

#clock{
    margin:0;
    font-size: 100px;
    font-weight:900;
    color: white;
}
#greeting {
    font-weight: 300;
    color: white;
}

.input-box{
    width: 400px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.input-box::placeholder{
    color: white;
    
}

#todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#todo-list li{
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.do-thing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
}
.delete{
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    border:none;
    font-size: 20px;
    color: red;
    margin-right: 30px;
    cursor: pointer;
}

.bottom-section{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

#quote{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    color: white;
}
#quote span:first-child{
    font-size: 20px;
    font-weight: 600;
}
#quote span:last-child{
    font-weight: 600;
    margin-top: 10px;
}
#logout-form{
    background-color: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: 900;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}

#weather {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}